{% extends 'base.html.twig' %}

{% block body %}

<h1>
	bonjour !!
</h1>

{{ form_start(form) }}

{{form_row(form.username, {'label': 'Nom d\' Utilisateur ','attr':{'placeholder':'Adresse email ...'}})}}
	{{form_row(form.email, {'label':'Adresse email', 'attr':{'placeholder': 'Enter votre adresse mail '}})}}
	{{form_row(form.password,{'label':'Mot de passe ', 'attr':{'placeholder': 'Enter votre mdp '}})}}
	{{form_row(form.confirm_password,{'label':'confirmation', 'attr':{'placeholder': 'confirmer votre mot de passe '}})}}
	<button type="submmit" class="btn btn-success">Inscription</button>
	{{ form_end(form) }}

{% endblock %}
